<div class="container">
  <div class="row justify-content-md-center">
    <h2>新增讨论版</h2>
  </div>
  <hr>
  <%= form_for @group do |f| %>
  <div class="row justify-content-md-center">标题</div>
  <div class="row justify-content-md-center">
    <%= f.text_field :title %>
  </div>
  <br>
  <div class="row justify-content-md-center">
    叙述
  </div>

  <div class="row justify-content-md-center">
    <%= f.text_area :description %>
  </div>
    <br>
  <div class="row justify-content-md-center">
    <%= f.submit "Submit", :disable_with => 'Submitting...' %>
  </div>
  <% end %>
</div>
